@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: rgb(10, 104, 255);
  --primary-color-hover: rgba(10, 104, 255, 0.2);
  --primaty-color-backgound: #f5f5fa;
  --error-color: #bf1650;
  --second-color: #f46f25;
  --white-color: white;
  --black-color: black;
  --gray-color: #fbf9f1;
  --gray-color-2: #efefef;

  --text-fontSize: 1.8rem;
  --text-product-fontSize: 1.5rem;
  --title-fontSize: 2.4rem;
  --title-small-fontSize: 2rem;
  --title-sub-fontSize: 1.6rem;
  --small-fontSize: 1.2rem;
  --width-space: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Inter", sans-serif;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
  overflow-x: hidden;
}

a,
Link {
  text-decoration: none;
  display: block;
  color: #000;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: "Inter", sans-serif;
}

input {
  outline: none;
  border: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.log-error {
  margin-top: 10px;
  font-size: var(--text-product-fontSize);
  color: var(--error-color);

  &::before {
    display: inline;
    content: "⚠ ";
  }
}

// custom scrollbar
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #dfdfde;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #dfdfde;
}
html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
